@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@900&display=swap');
  
body {
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: #30D89B !important;
    color: #fff !important;
}

/* INICIO MENU NAVBAR*/
.container.menu-container {
    max-width: 1024px !important;
    margin-left: 13rem;
}
.img-logo{
    margin-top: 0.5rem;
    width:10rem;
}
.navbar{
    padding: 0.5em;
}
a.navbar-item {
    font-weight: 600;
    margin-left: 1.5rem;
}
nav.navbar {
    border-bottom: 1px solid #e8e8e8;
}
input.input.is-rounded.pesquisa {
    background-color: #ededed;
    color: gray;
    width: 500px;
}
/* FIM MENU NAVBAR*/

/* INICIO HOME PAGE*/
.hero-body.heroo{
    padding: 5rem 8rem !important;
}
.column.cards {
    padding: 2rem;
    box-shadow: none;
}
.column.cards .card{
    box-shadow: none;
}
.column.cards .card .content{
    padding-top: 0.5rem;
    text-align: center;
}
.txt-perfis{
    margin-top: 0.2rem;
    text-align: center;
}
.txt-perfis .title{
    color: black;
}
.txt-perfis .subtitle{
    font-size: 0.80rem;
}
/* FIM HOME PAGE*/

/* INICIO DISCIPLINAS */
.hero-body.hero-disciplinas {
    padding: 3rem 1rem !important;
    width: 75rem;
}
.btn.btn-disable {
    background-color: #D8D8D8 !important;
    border: none !important;
    color: #757575 !important;
    font-weight: 500 !important;
    width: 11rem !important;
}
.btn-disable:hover {
    background-color: #30D89B !important;
    color: #fff !important;
    border: 1px solid black !important;
}
.btn-disc {
    background-color: white !important;
    border: 1px solid #D1D1D1 !important;
    color: black !important;
    font-weight: 600;
    padding: 1.7rem !important;
    border-radius: 0.6rem;
    text-align: center;
    line-height: 1rem;
    font-size: 14px;
    width: 16rem;
}
.btn-sistema {
    background-color: white !important;
    border: 2px solid #3354FF !important;
    color: #3354FF !important;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    border-radius: 0.6rem;
    text-align: center;
    line-height: 1rem;
    font-size: 16px;
    width: 10rem;
}
.title-disciplinas {
    margin-bottom: 0.5rem !important;
}
.subtitle-disciplinas{
    text-align: justify;
}
button.button.is-primary.btn.btn-menu-disc {
    width: 11rem !important;
}
i.fa-solid.fa-code {
    color: blue;
}

i.fa-solid.fa-pen-ruler {
    color: orange;
}
.box.box-professores {
    box-shadow: none;
    border: 1px solid #D1D1D1;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.box.box-btn {
    box-shadow: none;
    border: 1px solid #D1D1D1;
    border-radius: 0.5rem;
    padding: 0.7rem;
    text-align: center !important;
}
.p-disciplinas{
    font-size: 0.8rem;
}
.av-boa{
    color: #30D89B !important;
    padding: 0.4rem;
}
.av-neutra{
    color: #FFDB20 !important;
    padding: 0.4rem;
}
.av-ruim{
    color: #E56549 !important;
    padding: 0.4rem;
}
.bd-notification{
    background-color: white !important;
    border: 0.1rem solid #D1D1D1 !important;
    font-weight: 600;
    padding: 1.2rem;
    text-align: center;
    border-radius: 0.6rem;
    color: #1e3910;
}
/* FIM DISCIPLINAS */

.btn{
    width: 100% !important;
    border: 1px solid black !important;
    padding: 1.4em !important;
    font-weight: 700 !important;
    background-color: #30D89B !important;
}
.column-disciplinas{
    font-weight: 600;
    border: 0.01rem solid #d1d1d1;
    height: 100%;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    color: black !important ;
    text-decoration: none !important;
}
/* INICIO PROFESSORES */
.box.box-prof {
    padding: 1.7rem rem;
    max-height: 32rem !important;
    flex-direction: row;
    overflow-x: auto;
    box-shadow: none;
}

strong{
    color: #30D89B !important;
}

.sub-prof{
    color: #818181 !important;
}

.tag{
    background-color: #3055D8 !important;
    color: white !important;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34);
}

.box-avaliacao-prof{
    border-radius: 10px;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34);
}

.neutro{
    color: #FFCF5C !important;
}

.triste{
    color: orange !important;
}

.ver-mais{
    color: black !important;
    background-color: white !important;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34) !important;
}
i.fa-solid.fa-circle-arrow-left {
    font-size: 30px;
    color: #30D89B;
}
i.fa-solid.fa-circle-arrow-left:hover {
    font-size: 30px;
    color: #1e3910;
}
/* FINAL PROFESSORES */

/* INICIO LOGIN */
.box.box-login {
    margin: 1rem;
    box-shadow: none;
    border: 1px solid #D1D1D1;
    padding: 3rem;
}
.btn-login {
    background-color: #30D89B !important;
    color: #fff !important;
    border: 1px solid black !important;
    border-radius: 0.5rem !important;
    padding: 0.7rem;
    width: 13rem;
    font-weight: 500;
}
/* FINAL LOGIN */

/*FEEDBACK INI */
label.checkbox.checkbox-nota {
    margin-top: 0.5rem;
    background-color: #d1d1d1d1;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem !important;
}
.dropdown{
    width: 100% !important;
}
.dropdown-prof{
    padding: 0.3rem 1rem;
    width: 100%;
    border: 0.01rem solid #D1D1D1;
    border-radius: 0.5rem;
}
.dropdown-item-prof{
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
}
.items-prof{
    border: 0.01rem solid #D1D1D1;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
}
.checkbox-nota input[type=radio]:checked + label {
    padding: 10rem;
    background-color: red;
}
label.radio {
    font-size: 20px;
    font-weight: bold;
    border: 0.15rem solid #D1D1D1;
    background-color: #FAFAFA;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.2rem;
}

input[type="radio"]:checked+label {
    border-color: blue;
}

input[type=checkbox] + label {
    margin-top: 0.5rem; background-color: #d1d1d1d1;padding: 0.6rem 1rem; border-radius: 0.5rem;font-size: 1rem !important;
}

input[type=checkbox]:checked + label {
    background-color: blue;
    color: white;
} 

/*FEEDBACK FIN*/

/* LINHAS NO CONTAINER PARA AUX*/
/*
.hero-body{
    border: 1px solid red;
}

.columns{
    border: 1px solid orange;
}

.column{
    border: 1px solid blue;
}

