<%- include('includes/head') -%>
<%- include('includes/nav') -%>
<!-- INICIO CONTEUDO-->
<section class="hero is-medium  ">
    <div class="container">
    <div class="hero-body heroo">
      <div class="columns is-vcentered">
        <div class="column is-1"></div>

        <div class="column">
          <figure class="image">
            <img src="../assets/imgs/404.png" style="width: 25em;">
          </figure>
          <center><h1>Página não encontrada</h1></center>
        </div>

        <div class="column is-1"></div>
      </div>

    </div>
  </div>
  </section>
  <!-- FIM CONTEUDO-->
  <%- include('includes/footer') -%>