<%- include('includes/head') -%>
<%- include('includes/nav') -%>
<!-- INICIO CONTEUDO-->
<section class="hero is-medium  ">
    <div class="container">
    <div class="hero-body heroo">

        <div class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <!-- Any other Bulma elements you want -->
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>

      <div class="columns is-vcentered">
          <div class="column is-1"></div>
        <div class="column">
          <h1 class="title is-3">Seu feedback é muito importante para nós!</h1>
          <p></p>
          <h6 class="subtitle is-5" style="text-align: justify;">Evidentemente, a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança do levantamento das variáveis envolvidas.</h6>
          <p></p>
          <a href="views/feedback.html">
          <div class="buttons">
            <button class="button is-primary btn" >Deixe seu Feedback</button>
          </div>
          </a>
        </div>
        <div class="column is-1"></div>
        <div class="column">
          <figure class="image">
            <img src="./assets/imgs/lupa-bigode.svg" style="height: 25em;">
          </figure>
        </div>
        <div class="column is-1"></div>
      </div>

      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
      </div>

      <div class="columns">
          <div class="column is-1"></div>
          <div class="column cards">
              <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="./assets/imgs/back-duvida.svg" alt="Placeholder image">
                    </figure>
                  </div>           
                  <div class="content">
                      <h4 class="subtitle is-6">Está com dúvida em qual professor escolher?</h4>
                  </div>
              </div>
          </div>
          <div class="column cards">
              <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="./assets/imgs/feed-pensativo.svg" alt="Placeholder image">
                    </figure>
                  </div>              
                    <div class="content">
                      <h4 class="subtitle is-6">Pesquise pelo professor ou pela disciplina.</h4>
                    </div>
                </div>
          </div>
          <div class="column cards">
              <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="./assets/imgs/carinhas.svg" alt="Placeholder image">
                    </figure>
                  </div>               
                    <div class="content">
                      <h4 class="subtitle is-6">Encontre a avaliação de estudantes que já foram alunos desse professor.</h4>
                    </div>
                </div>
          </div>
          <div class="column cards">
              <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="./assets/imgs/back-pensativo.svg" alt="Placeholder image">
                    </figure>
                  </div>              
                    <div class="content">
                      <h4 class="subtitle is-6">Pesquise pelo professor ou pela disciplina.</h4>
                    </div>
                </div>
          </div>
          <div class="column is-1"></div>
      </div>

      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
      </div>

      <div class="columns">
          <div class="column is-3"></div>
          <div class="column cards">
              <figure class="image">
                  <img src="./assets/imgs/logo-ufeed.svg" alt="Placeholder image" style="height: 8rem;">
              </figure>
              <div class="content">
                  <h4 class="subtitle is-6" style="text-align:center; padding-top:1rem;">Evidentemente, a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança do levantamento das várias envolvidas.</h4>
              </div>
          </div>
          <div class="column is-3"></div>
      </div>

      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
          <div class="column"></div>
      </div>
      <div class="columns">
        <div class="column"></div>
    </div>

      <div class="columns">
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/kaio-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Kaio</h4>
                  <h4 class="subtitle is-6">Programador</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/jasmine-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Jasmine</h4>
                  <h4 class="subtitle is-6">Gestora de Projetos</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/pedro-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Pedro</h4>
                  <h4 class="subtitle is-6">Designer</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/luana-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Luana</h4>
                  <h4 class="subtitle is-6">Documentadora</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/eric-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Eric</h4>
                  <h4 class="subtitle is-6">Programador</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/felipe-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Felipe</h4>
                  <h4 class="subtitle is-6">Designer</h4>
              </div>
          </div>
          <div class="column">
              <figure class="image is-2by3">
                  <img src="./assets/imgs/luiz-perfil.png" alt="Placeholder image">
              </figure>
              <div class="content txt-perfis">
                  <h4 class="title is-6">Luiz</h4>
                  <h4 class="subtitle is-6">Documentador</h4>
              </div>
          </div>
      </div>
    </div>
  </div>
  </section>
  <!-- FIM CONTEUDO-->
  <%- include('includes/footer') -%>